@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Norican&family=Raleway:wght@30;60;90;100;150;300;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;   
    font-family: 'Courgette';
  }

.principal {
 
    margin: 0 auto;
  
}
.menu{
display: flex;

}
.encabezado{
  display: flex;
  justify-content: space-around;

}
.img-tarj{
  width: "100px";
}
body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: white; 
}
header {   
    position: top;
    top: 0;
    width: 100%;   
 
}

header span {
  color: black;
  font-size: 45px;
  display: inline-block;
  bottom: 30px;    
}

nav {  
  
    height: 25px;    
    top: 250px;
}

nav ul {
    list-style: none;
    padding: 25px;
    display: flex;  
}

nav ul li {
    flex-grow: 12;
}

nav ul li a {
 
  color: white;
  text-decoration: none;
  /*saca el subrayado del texto*/
  padding: 10px;
  display: block;
  /*esto es para que interprete que es un bloque de fila y funcione el padding superior e inferior*/
  text-align: center;
  transition: all 0.1s;
}

/* Nav 1 para Inicio y Menu 2 */
  nav ul li a.nav1 {
    background: green;
    border-radius: 0 0 25px 25px;
}

nav ul li a.nav1:hover {
    background: green;
    padding: 18px;
    border-radius: 0 0 25px 25px;
    font-size: 20px;
}

nav ul li a.nav1Activo {
    /* background: #279e15; */
    background:green;
    padding: 18px;
    border-radius: 0 0 25px 25px;
    font-size: 20px;
}

nav ul li a.nav1Activo:hover {
    background: green;
    padding: 18px;
    border-radius: 0 0 25px 25px;
    font-size: 20px;
}

/* NAv2 para Profesionales y Contáctenos */
nav ul li a.nav2 {
  background: fuchsia;
  border-radius: 0 0 25px 25px;
}

nav ul li a.nav2:hover {
  background: fuchsia;
  padding: 18px;
  border-radius: 0 0 25px 25px;
  font-size: 20px;
}

nav ul li a.nav2Activo {
  background:fuchsia;
  padding: 18px;
  border-radius: 0 0 25px 25px;
  font-size: 20px;
}

nav ul li a.nav2Activo:hover {
  background: fuchsia;
  padding: 18px;
  border-radius: 0 0 25px 25px;
  font-size: 20px;
}



main {
    padding: 70px; 
    text-align: match-parent;  
    justify-content: center;
    margin-top: 30px;    
}

.terapias {
    display: flex;
    background-color: yellow;
    padding: 30px;
    display: grid;    
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 2;
    justify-content: center;
    grid-gap: 10px;
   /*grid-template-columns: 1fr, 1fr, 200px;*/
    /*  grid-template-columns:*/
    /* nueva unidad fr: fraccion */   
}

.terapias .terapia {
    max-width: 360px;
    transition: all 0.2s;
    box-sizing: border-box;
    text-align: center;
    padding: 50px 50px;   
    line-height: 30px;
    font-size: 20px;
    
    border-radius: 25px;
}
.terapias .terapia i {
    font-size: 70px;
    padding-bottom: 30px;
}

.terapias .terapia :hover {
    transform: scale(120%);
}
.verde {
    background-color: #97d848;    
}
.rosaClaro {
    background-color: #686de0;    
}
.fuccia {
    background-color:fuchsia;    
}
.celeste{
    background-color:#22a6b3; 
}

footer {
 
    margin: 0 auto;   
    padding: 10px;
    text-align: right;
    margin-top: 20px;
    font-family: 'Courgette';
    font-size: 16px;
    background-color: #97d848; 
}


/*Formulario de contacto*/

.tablaContactenos {
  display: flex;
  flex-direction: column;
  width: 1080px auto; 
  
}

  .formularioDeContacto{  

    display: flex;
    flex-direction: row;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    padding-left: 30px; 
  }
  
  .ViasContacto{
    padding-left: 40px;   
  
  }
  .ViasContacto li{
    padding-left: 10px;
    text-align: CENTER;
    background-color: #97d848;
  }
  
  .ViasContacto ul li{ 
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;  
    text-align: center;    
    width: 400px auto;
    height: 40px;
    
  }
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    padding-left: 10px;
    margin-bottom: 10px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: rgb(167, 24, 24); 
  }
  
  
  span{
    color: #080707;     
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 30px;  
    text-align: letf; 
    padding-bottom: 20px; 

  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 15px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
 @media (max-width: 420px) {
   .terapias {
     /*lo cambio a una columna para dispositivos mas pequeños*/

     grid-template-columns: 1fr;
     justify-items: center;
     background-color: blue;
   }

   .tablaContactenos {

     grid-template-columns: 1fr;
     justify-items: center;
     background-color: yellowgreen;
  
   }
 }